<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iflytek.libfileprovider">

    <application>
        <provider
            android:name="com.lzy.libfileprovider.LibFileProvider"
            android:authorities="${applicationId}.fastdevelop.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_fileprovider_file_paths" />
        </provider>
    </application>
</manifest>

