<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzy.libview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.BaseTitleFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lib_view_AppTheme" />

        <activity
            android:name=".activity.BaseFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lib_view_AppTheme" />

    </application>
</manifest>
